@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Agustina";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Agustina.woff2") format("woff2"), url("./fonts/Agustina.woff") format("woff");
  }
  @font-face {
    font-family: "GoogleSans";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/GoogleSans-Regular.woff2") format("woff2"), url("./fonts/GoogleSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "GoogleSansBold";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/GoogleSans-Bold.woff2") format("woff2"), url("./fonts/GoogleSans-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "GoogleSansMedium";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/GoogleSans-Medium.woff2") format("woff2"), url("./fonts/GoogleSans-Medium.woff") format("woff");
  }
}

/* Set the default font for the body */
body {
  font-family: "GoogleSans", sans-serif;
  background: #fbfbfe;
}
